@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gn0b8s');
  src: url('../fonts/icomoon.eot?gn0b8s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gn0b8s') format('truetype'),
    url('../fonts/icomoon.woff?gn0b8s') format('woff'),
    url('../fonts/icomoon.svg?gn0b8s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-ellipsis-v:before {
  content: "\f142";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-google:before {
  content: "\f1a0";
}
