html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: $text;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }

}

.title {
    color: #000;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
}

.btn,
.btn-sm {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

.btn {
    height: 55px;
    min-width: 30px;
    border-radius: 27.5px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 0 33px;
}

.btn-sm {
    color: #fff;
    font-size: 14px;
    min-width: 140px;
    height: 36px;
    background-color: $btn;
    border-radius: 18px;
}

.sort__category-item,
.sort__category-item--light {
    li {
        font-size: 15px;
        min-width: 28px;
        min-height: 28px;
        padding: 0 16px;
        background-color: #f1f3f6;
        border-radius: 14px;
        display: inline-block;
    }
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    border-radius: 4px;
    padding: 0 30px;

    &__title {
        font-size: 30px;
        color: #000;
    }
}

.sort__category-item--light {
    li {
        a {
            color: #868c96;
        }
    }
}

.sort__category-item {
    li {
        a {
            color: #747b86;
        }
    }
}

.product__card {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    max-width: 360px;
    width: 100%;
    min-height: 530px;
    overflow: hidden;

    &-preview {
        max-width: 360px;
        width: 100%;
        height: 230px;
        position: relative;
        

        &:hover .product__card-img--layer {
            height: 230px;
        }
    }

    &-img {
        max-width: 360px;
        width: 100%;
        height: 230px;
        
        

        &--layer {
            max-width: 360px;
            width: 100%;
            height: 0;
            background: linear-gradient(to right, rgba(112, 73, 183, 1) 0%, rgba(13, 114, 222, 1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            transition: all .3s linear;

            &:hover button {
                transform: scale(1);
                transition: transform .5s linear,
                color .3s linear,
                background-color .3s linear;
            }

            button {
                @include f500;
                font-size: 15px;
                color: #fff;
                height: 45px;
                min-width: 20px;
                border-radius: 22.5px;
                border: 1px solid #f4f4f4;
                background-color: transparent;
                padding: 0 30px;
                cursor: pointer;
                margin: 0 5px;
                transform: scale(0);

                &:hover {
                    background-color: #fff;
                    color: $btn;
                }
            }
        }
    }

    &-item {
        padding: 30px 30px 27px;
    } 

    &-title {
        font-size: 20px;
        @include f500;
        color: #000;
    }

    &-info {
        height: 62px;
        display: flex;
        align-items: center;
        border-top: 1px solid #ececec;
        padding: 0 30px;
        font-size: 15px;
    }

    &-price {
        height: 30px;
        min-width: 20px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: #e6f1fd;
        padding: 0 17px;
        @include f500;
        color: $btn;
        margin-right: 13px;
    }

    &-likes {
        color: #6f7d8d;
        margin-right: 16px;
        span {
            color: #7f4ec2
        }
    }

    &-rate {
        display: none;
        &.active {
            display: block;
        }
    }

    &-sellers {
        margin-left: auto;
        color: $btn;
    }
}

.hide {
    display: none;
}

.slider-arows__box {
    width: 110px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .slider__arow {
        border: none;
        padding: 0 5px;
        margin: 0;
        background: none;
        font-size: 14px;
        color: #fff;
        outline: none;
        cursor: pointer;
    }
}

.yellow {
    color: #feb71d;
}

.blue {
    color: #58c9e9;
}

.green {
    color: #77de51;
}

.pink {
    color: #ff6a6d;
}