@import 'vars';
@import 'global';
@import 'fonts';

.header {

    &__top {
        background-color: #eef1f3;


        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            color: #fff;
            font-size: 14px;
            min-width: 140px;
            height: 36px;
            background-color: $btn;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
            border: none;
            border-radius: 18px;
            margin-right: 51px;
            cursor: pointer;
            outline: none;
        }
    }

    &__info {
        margin-right: 48px;

        a {
            color: $icon;
            font-size: 20px;
            position: relative;

            &+a {
                margin-left: 32px;
            }

        }

        .lnr::after {
            content: '';
            min-width: 22px;
            height: 22px;
            border-radius: 11px;
            @include f500;
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 22px;
            padding: 0 6px;
        }

        .lnr-alarm::after {
            content: '25';
            background-color: #ff6a6c;
            position: absolute;
            top: -17px;
            right: -17px;
        }

        .lnr-envelope::after {
            content: '6';
            background-color: #62d03b;
            position: absolute;
            top: -17px;
            right: -17px;
        }

        .lnr-cart::after {
            content: '2';
            background-color: #0674ec;
            position: absolute;
            top: -17px;
            right: -17px;
        }
    }

    &__user {
        display: flex;

        &-photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 22px;
            display: inline-block;
        }

        &-name {
            color: #333333;
            @include f500;
            line-height: 22px;
            display: block;
        }

        &-price {
            color: #0674ec;
            font-size: 15px;
            line-height: 22px;
        }
    }

    &__block {


        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }
    }

    &__menu {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                &+li {
                    margin-left: 33px;
                }

                a {
                    text-transform: uppercase;
                    color: #333333;
                    font-size: 15px;
                    @include f500;
                }
            }
        }
    }

    &__search {
        max-width: 360px;
        width: 100%;
        position: relative;

        input {
            width: 100%;
            font-size: 15px;
            border-radius: 23px;
            height: 46px;
            border: 1px solid #d9dfe5;
            padding-left: 25px;
            padding-right: 60px;
            outline: none;

            &::placeholder {
                color: #898f96;
            }
        }

        button {
            min-width: 70px;
            height: 100%;
            border: none;
            border-radius: 23px;
            background-color: $btn;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            outline: none;
            font-size: 15px;
            color: #fff;
            padding: 0 10px;
        }
    }
}